<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
     <!-- <header>
            page header
     </header> -->        
     <!-- //instead use partial -->
     <%- include('_header'); %>
    <h1>layout</h1>
      

       <%- body   %>

     <%- include('_footer'); %>
     <!-- <footer>
        page footer 
     </footer> -->
</body>
</html>=