<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <!-- <header>
           page header
    </header> -->
    <%- include('_header'); %>


    <h1> Codeial /profile </h1>

    <%- include('_footer'); %>
    <!-- <footer>
       page footer 
    </footer> -->
</body>
</html>